@charset "UTF-8";
/* {
  border: 4px solid violet;
} */
/* Обращаемся к какому-то конкретному элементу ребенка */
/* .main-section > h1 {
  border: 4px solid violet;

} */
/* Чаще всего используется подход через классы. Определяем класс <h1 class="main-header"> и обращаемся через .main-header */
/* Почему-то копировало из фигмы background color, но что-бы текст отображался белым нужно было прописать color */
/* focus это когда мы используем клаву для навигации и меняем при этом что-то при выделении или по клику на кнопку. Пока не кликнешь не по элементу. 
Фокус обычно используется для полей ввода*/
/* .button:focus {
  background-color: pink;
} */
/* Каскадность - механизм, который управляет конечными значениями свойст элемента, если к нему применяется несколько цсс правил. ТОЕСТЬ КТО ПОСЛЕДНИЙ - ТОТ И ВЫИГРЫВАЕТ!  
- если к элементу применяется несколько правил то их свойства комбинируются
- если правила имеют одинаковые свойства с разными значениями, то они конфликтуют.
*/
/* убираем кружочки и вообще перечисление для UL элементов всех */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}
:root {
  --color-brand-normal: #819b57; /* HEX color value */ /* еще используется rgba где 4 парамента, последний прозрачность показівает 0/1. Используется на практике хекс и ргба */
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

/* Base */
/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  /*Задаем коэфициентом, а не пикселями. Тоесть тут мы поделили 27рх на 18рх размер шрифта и получили 1.5. Задали в боди потому что это доминантное значение на страничке */
  line-height: 1.5;
  /* background-color: darkgray; */
  margin: 0px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}

/*Браузер автоматически добавляет марджины и мы их с помощью этого убираем
Почему только топ? Потому что это как паттерн и иногда нам нужен автоматический bottom*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Задаем для всех ссылок чтобы кликабельная зона элемента 
была равна элементу на котором располагается */
a {
  display: inline-block;
}

.section {
  padding: 48px 0px;
}

/* GLOBAL STYLES */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.text-brand {
  color: var(--color-brand-normal);
}

.text-brand-dark {
  color: var(--color-brand-dark);
}

.text-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}

.button {
  display: block;
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* LINK  */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  line-height: 1.5;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 32px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: var(--color-primary-light);
}
@media screen and (min-width: 1280px) {
  .header__burger {
    display: none;
  }
}

/* HERO SECTION */
.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../Images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top; /*смещение по x и y*/
  background-size: cover; /*по x и y. Для фоток используется редко. В основном ставим Cover*/
  background-attachment: fixed;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../Images/hero-section-background@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 272px 0;
  }
}
.hero-section__title {
  margin-bottom: 48px;
  color: var(--color-primary-light);
  text-decoration: none;
  text-align: center; /* заголовок будет по центру слева или справа */
  font-size: 67px;
  line-height: 1;
  font-weight: 900;
  /* text-transform: uppercase; Разный регистр. lowercase , capitalize - каждое слово с большой буквы */
  /* text-shadow: 2px 2px 0px violet;   добавляет размытость тексту x,y,размытость, цвет */
  /* letter-spacing: 0px;  расстояние между буквами*/
  /* word-spacing: -10px; расстояние между словами */
}
@media screen and (min-width: 1280px) {
  .hero-section__title {
    font-size: 128px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}
.hero-section__button {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .hero-section__button {
    display: none;
  }
}

/* advantages section */
@media screen and (min-width: 1280px) {
  .adventages-section {
    background-color: var(--color-brand-normal);
  }
}
.adventages-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-brand-light);
  border-radius: 24px;
  padding: 24px 40px;
}
@media screen and (min-width: 1280px) {
  .adventages-section__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}
.adventages-section__item {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 1280px) {
  .adventages-section__item {
    color: var(--color-primary-light);
    font-size: 20px;
  }
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}
.section__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 64px;
    line-height: 1.3;
  }
}
.section__title--centered {
  text-align: center;
}

/* Traditions Section */
.traditions-section {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .traditions-section {
    padding-top: 96px;
  }
}
.traditions-section__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.traditions-section__title {
  margin-bottom: 42px;
}
.traditions-section__content {
  max-width: 710px;
}
.traditions-section__text--limited {
  max-width: 335px;
}
.traditions-section__image {
  display: none;
  border-radius: 400px 400px 0px 0px;
}
@media screen and (min-width: 768px) {
  .traditions-section__image {
    display: block;
  }
}

/* white-space: nowrap;  помешает текст в один рядок без пепреносов*/
/* chefs Section*/
.chefs-section__title {
  position: relative;
  margin: 0 auto 24px;
}
@media screen and (min-width: 1280px) {
  .chefs-section__title {
    margin-bottom: 80px;
  }
}
.chefs-section__title::before, .chefs-section__title::after {
  display: none;
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}
@media screen and (min-width: 1280px) {
  .chefs-section__title::before, .chefs-section__title::after {
    display: block;
  }
}
.chefs-section__title::before {
  left: 0;
}
.chefs-section__title::after {
  right: 0;
}
.chefs-section__list {
  display: flex;
  flex-direction: column;
  /* Добавили врап если будут добавляться элементы, чтобы они переносились аккуратно на новую строку */
  flex-wrap: wrap;
  /* Добавили 40px сверху-вниз на случай если будут добавляться новые элементы */
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .chefs-section__list {
    gap: 40px 30px;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .chefs-section__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .chef-card {
    gap: 30px;
  }
}
.chef-card__image {
  width: 140px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}
@media screen and (min-width: 1280px) {
  .chef-card__image {
    width: 240px;
  }
}
.chef-card__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .chef-card__title {
    font-size: 40px;
  }
}
.chef-card__text {
  font-size: 14px;
  margin-bottom: 24px;
}
.chef-card__text:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .chef-card__text {
    font-size: 18px;
  }
}

/* Format Section */
.formats-section__slider {
  display: flex;
  align-items: center;
  gap: 32px;
}
.formats-section__container {
  overflow: hidden;
}
.formats-section__list {
  margin-bottom: 32px;
}
.formats-section__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .formats-section__button {
    display: flex;
  }
}

.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 444px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  padding: 24px;
  border: 1px, solid lightgray; /*Need to remove*/
  border-radius: 16px;
  overflow: hidden;
}
.format-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.format-card__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-primary-light);
}
.format-card__text {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-light);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.pagination__button {
  width: 12px;
  height: 12px;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
  padding: 0;
}
.pagination__button--active {
  background-color: var(--color-brand-normal);
}

/* Carousel button */
.carousel-button {
  align-items: center;
  justify-content: center;
  /* Позволяет не сжимать элемент даже если не хватает места */
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  /* Бордер-радиус 50% означает, что елемент польностью округлится */
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.carousel-button.next {
  transform: rotate(180deg);
}
.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Contact Section */
.contact-section {
  padding-bottom: 96px;
}
.contact-section__container {
  flex-direction: column;
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .contact-section__container {
    flex-direction: row;
    gap: 32px;
  }
}
.contact-section__title {
  margin-bottom: 16px;
}
.contact-section__form-field {
  margin-bottom: 24px;
}
.contact-section__button {
  /* Для размещения кнопки по центру */
  display: block;
  margin: 0 auto 16px;
}
.contact-section__map {
  flex-shrink: 0;
  height: 176px;
  margin: 0 -24px;
  border-radius: 16px;
  border: none;
}
@media screen and (min-width: 768px) {
  .contact-section__map {
    margin: auto;
    width: 320px;
    height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-section__map {
    width: 600px;
    height: 595px;
  }
}

/* Footer / Address */
.footer {
  padding: 32px 0;
  position: relative;
  background-image: url("../Images/footer-background.png"); /*в .png прозрачный фон*/
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::before, .footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}
.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url("../Images/decor-bread-small.png");
}
.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url("../Images/decor-bread-large.png");
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-basis: 50%;
    flex-direction: row;
  }
}
.footer__nav, .footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__nav, .footer__address {
    flex-basis: 50%;
    flex-direction: row;
    text-align: left;
  }
}
.footer__logo, .footer__menu {
  flex-grow: 1;
}
.footer__address-list, .footer__address-info {
  flex-grow: 1;
}
.footer__address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none; /* Убирает подчеркивания например на ссілках*/
}
.footer__address-link:hover {
  color: var(--color-brand-normal);
}
.footer__address-icon {
  /* Используем фил чтобы заполнить цвет иконки */
  fill: var(--color-primary-light);
}
.footer__address-icon:hover {
  fill: var(--color-brand-normal);
}
.footer__address-copyright {
  font-size: 14px;
  color: #a18268;
}

.input {
  position: relative;
  /* Если какой-то элемент в фокусе то можем делать что-то внутри */
  /* .form-field:focus-within .form-label {
    transform: translate(-36px, -40px);
  } */
}
.input__label {
  position: absolute;
  top: 16px;
  left: 42px;
}
.input__control {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  /* Делает фон инпута таким же как и фон окна. Тоесть прозранім */
  background-color: transparent;
}
.input__control:focus {
  border-color: var(--color-brand-normal);
  /* Добавляем чтобы убрать толстую обводку и увидеть изменения при фокусе */
  outline: none;
}
.input__control::-moz-placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  /* Потому что мы поделили  line-height указанный в фигме на 16*/
  line-height: 1.17;
}
.input__control::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  /* Потому что мы поделили  line-height указанный в фигме на 16*/
  line-height: 1.17;
}
.input__control:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}
.input__control:focus::placeholder {
  color: var(--color-primary-dark);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
}

.backdrop {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.backdrop.is-hidden {
  /* Прозрачность 0 */
  opacity: 0;
  /* Скрывает окно */
  visibility: hidden;
  /* Не обрабатывает клики по окну */
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  /* Задаем чтобы можно было скролить если контент не помещается */
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 128px;
  }
}
.modal__btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
.modal__form-field {
  margin-bottom: 32px;
}
.modal__button {
  margin: 0 auto 24px;
}

/* Form */
.form-terms {
  max-width: 220px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}
.form-terms__link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}/*# sourceMappingURL=main.css.map */