/* {
  border: 4px solid violet;
} */

/* Обращаемся к какому-то конкретному элементу ребенка */
/* .main-section > h1 {
  border: 4px solid violet;

} */

/* Чаще всего используется подход через классы. Определяем класс <h1 class="main-header"> и обращаемся через .main-header */
/* Почему-то копировало из фигмы background color, но что-бы текст отображался белым нужно было прописать color */

/* focus это когда мы используем клаву для навигации и меняем при этом что-то при выделении или по клику на кнопку. Пока не кликнешь не по элементу. 
Фокус обычно используется для полей ввода*/

/* .button:focus {
  background-color: pink;
} */

/* Каскадность - механизм, который управляет конечными значениями свойст элемента, если к нему применяется несколько цсс правил. ТОЕСТЬ КТО ПОСЛЕДНИЙ - ТОТ И ВЫИГРЫВАЕТ!  
- если к элементу применяется несколько правил то их свойства комбинируются
- если правила имеют одинаковые свойства с разными значениями, то они конфликтуют.
*/

/* убираем кружочки и вообще перечисление для UL элементов всех */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-normal: #819b57; /* HEX color value */ /* еще используется rgba где 4 парамента, последний прозрачность показівает 0/1. Используется на практике хекс и ргба */
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}
address {
  font-style: normal;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /*Задаем коэфициентом, а не пикселями. Тоесть тут мы поделили 27рх на 18рх размер шрифта и получили 1.5. Задали в боди потому что это доминантное значение на страничке */
  line-height: 1.5;
  /* background-color: darkgray; */
  margin: 0px;
}

/*Браузер автоматически добавляет марджины и мы их с помощью этого убираем
Почему только топ? Потому что это как паттерн и иногда нам нужен автоматический bottom*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0px;
}
/* GLOBAL STYLES */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}
/* LINK  */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  line-height: 1.5;
}
.link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header-container {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* HERO SECTION */
.hero-section {
  padding: 272px 0px;
  background-image: url("../Images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top; /*смещение по x и y*/
  background-size: cover; /*по x и y. Для фоток используется редко. В основном ставим Cover*/
  background-attachment: fixed;
}

.hero-title {
  margin-bottom: 0px;
  color: var(--color-primary-light);
  text-decoration: none;
  text-align: center; /* заголовок будет по центру слева или справа */
  font-size: 128px;
  font-weight: 900;
  /* text-transform: uppercase; Разный регистр. lowercase , capitalize - каждое слово с большой буквы */
  /* text-shadow: 2px 2px 0px violet;   добавляет размытость тексту x,y,размытость, цвет */
  /* letter-spacing: 0px;  расстояние между буквами*/
  /* word-spacing: -10px; расстояние между словами */
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* advantages section */
.adventages-section {
  background-color: var(--color-brand-normal);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.adventages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions Section */
.traditions-section {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-title {
  margin-bottom: 42px;
}
.traditions-content {
  max-width: 710px;
}

/* white-space: nowrap;  помешает текст в один рядок без пепреносов*/
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text.limited {
  max-width: 335px;
}

/* chefs Section*/
.chefs-title {
  max-width: 520px;
  margin: 0 auto 80px;
}
.chef-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

/* Format Section */
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  /*Прописываем, чтобы поместить 3 карточки в ряд. Было бы 4 писали бы 4*/
  /*Отнимаем 40рх от общей ширины так как тут Gap 20px на 2 єлемента*/
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  padding: 24px;
  border: 1px, solid lightgray; /*Need to remove*/
  border-radius: 16px;
}
.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-weight: 600;
  font-size: 24px;
}
.format-text {
  font-weight: 300;
  font-size: 14px;
}
/* Carousel button */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  fill: var(--color-primary-dark);
  /* Бордер-радиус 50% означает, что елемент польностью округлится */
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Contact Section */
.contact-title {
  margin-bottom: 16px;
}
/* ADdress */

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none; /* Убирает подчеркивания например на ссілках*/
}

.address-link:hover {
  color: var(--color-brand-normal);
}
.address-icon {
  /* Используем фил чтобы заполнить цвет иконки */
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}

.footer {
  background-image: url("../Images/footer-background.png"); /*в .png прозрачный фон*/
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.test-box {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 10px auto;
  background-image: radial-gradient(yellow, blue);
}
