/* {
  border: 4px solid violet;
} */

/* Обращаемся к какому-то конкретному элементу ребенка */
/* .main-section > h1 {
  border: 4px solid violet;

} */

/* Чаще всего используется подход через классы. Определяем класс <h1 class="main-header"> и обращаемся через .main-header */
/* Почему-то копировало из фигмы background color, но что-бы текст отображался белым нужно было прописать color */

/* focus это когда мы используем клаву для навигации и меняем при этом что-то при выделении или по клику на кнопку. Пока не кликнешь не по элементу. 
Фокус обычно используется для полей ввода*/

/* .button:focus {
  background-color: pink;
} */

/* Каскадность - механизм, который управляет конечными значениями свойст элемента, если к нему применяется несколько цсс правил. ТОЕСТЬ КТО ПОСЛЕДНИЙ - ТОТ И ВЫИГРЫВАЕТ!  
- если к элементу применяется несколько правил то их свойства комбинируются
- если правила имеют одинаковые свойства с разными значениями, то они конфликтуют.
*/

/* убираем кружочки и вообще перечисление для UL элементов всех */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-light: #819b57; /* HEX color value */ /* еще используется rgba где 4 парамента, последний прозрачность показівает 0/1. Используется на практике хекс и ргба */
  --color-primary-white: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
}
address {
  font-style: normal;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /*Задаем коэфициентом, а не пикселями. Тоесть тут мы поделили 27рх на 18рх размер шрифта и получили 1.5. Задали в боди потому что это доминантное значение на страничке */
  line-height: 1.5;
  /* background-color: darkgray; */
  margin: 0px;
}

/*Браузер автоматически добавляет марджины и мы их с помощью этого убираем
Почему только топ? Потому что это как паттерн и иногда нам нужен автоматический bottom*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0px;
}
/* GLOBAL STYLES */
ul {
  list-style-type: none;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}
/* LINK  */
.button {
  padding: 16px 32px;
  color: var(--color-primary-white);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.link {
  color: var(--color-primary-white);
  text-decoration: none;
  line-height: 1.5;
}
.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* HERO SECTION */
.hero-section {
  padding: 272px 0px;
}

.hero-title {
  margin-bottom: 0px;
  color: var(--color-primary-white);
  text-decoration: none;
  text-align: center; /* заголовок будет по центру слева или справа */
  font-size: 128px;
  font-weight: 900;
  /* text-transform: uppercase; Разный регистр. lowercase , capitalize - каждое слово с большой буквы */
  /* text-shadow: 2px 2px 0px violet;   добавляет размытость тексту x,y,размытость, цвет */
  /* letter-spacing: 0px;  расстояние между буквами*/
  /* word-spacing: -10px; расстояние между словами */
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages section */
.advantages-list {
  color: var(--color-primary-white);
  background-color: var(--color-brand-light);
}

.adventages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions Section */
.traditions-section {
  padding-top: 96px;
}
.traditions-title {
  margin-bottom: 42px;
}

/* white-space: nowrap;  помешает текст в один рядок без пепреносов*/
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* chefs Section*/
.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

/* Format Section */
.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-weight: 600;
  font-size: 24px;
}
.format-text {
  font-weight: 300;
  font-size: 14px;
}

/* Contact Section */
.contact-title {
  margin-bottom: 16px;
}
/* ADdress */

.address-link {
  color: var(--color-primary-white);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none; /* Убирает подчеркивания например на ссілках*/
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}
