/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /*Задаем коэфициентом, а не пикселями. Тоесть тут мы поделили 27рх на 18рх размер шрифта и получили 1.5. Задали в боди потому что это доминантное значение на страничке */
  line-height: 1.5;
  /* background-color: darkgray; */
  margin: 0px;
}

/*Браузер автоматически добавляет марджины и мы их с помощью этого убираем
Почему только топ? Потому что это как паттерн и иногда нам нужен автоматический bottom*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
/* Задаем для всех ссылок чтобы кликабельная зона элемента 
была равна элементу на котором располагается */
a {
  display: inline-block;
}
.section {
  padding: 48px 0px;
}
/* GLOBAL STYLES */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}
