* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  border: 1px solid black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  /* Позволяет смещать обьект, принимает 2 параметра х и у 
  translateY, translateX - по одной оси смещает.
  На практике используется например когдла выезжает менюшка сбоку и прячется*/
  transform: translateX(-20px);
  /* Делает переход на розовый плавным за время которое указали
  Задаем на основном классе, чтобы работало в 2 стороны */
  /* transition-property: background-color;
  transition-duration: 2s;
  transition-delay: 0.5s; */

  transition: background-color 1s, color 1s, transform 1s;
}
.item.red:hover {
  transform: translateX(0px);
  background-color: pink;
  color: black;
}

.item.green {
  width: 100px;
  height: 100px;
  background-color: green;
  /* Поворачиваем элемент. Принимает градусы 90deg 
  ИЛИ
  1turn, 0.5turn*/
  /* transform: rotate(90deg); */

  /* Подключаем @keyframes с помощью  animation-name: keyframe_name; */
  animation-name: spin;
  animation-duration: 1s;
  animation-delay: 2s;
  /* Указівет сколько раз мы будем воспроизводить аниамцию */
  /* animation-iteration-count: 5; */
  animation-timing-function: linear;
  /* Можем писать сокращенно */
  /* animation: spin 1s infinite linear; */
}

/* Задаем анимацию с помощью  @keyframes название {}
Можем использовать from{} to{} например сделать оборот transform: rotate(0); 
transform: rotate(360deg)*/
@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  /* Меняем масштаб элемента. Делает его больше/меньше*/
  transform: scale(0.5);
}

.item.orange {
  width: 120px;
  height: 120px;
  background-color: orange;
  /* Принимает значения по х,у
  на практике редко, но искревляет єлемент*/
  transform: skew(20deg, 20deg);
}
