* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: aquamarine;

  border: 3px solid black;
  border-radius: 5px;
  margin: 10px;
  /* Если в одном элеменнте будет расстояние 20рх, а в другом 30рх то браузер будет выбирать самый большой 30рх и расстояние будет 30, а не 50!! Это называется СХЛОПЫВАНИЕ*/
}

/*Псевдокласс который выбирает какой-то элемент из похожих класов по очереди.
first-child , last-child, not(), 
nth-child(n) - конкретный элемент, можно через запятую писать каждый раз nth-child(n)
nth-child(n + x) -  с какого-то элемента и каждый следующий
nth-child(2n + x) - так и пишем 2n. С нулевого элемента умноженный на 2 +3, например 2n+3 = 3,5,7,9 тоесть через 1*/

.box:last-child {
  background-color: coral;
}
/* padding: 10px; Отступ в середине элемента/ Top/right/bottom/left отступы
  border: 2px solid darkgoldenrod;  1-й параметр - ширина, 2-й параметр это стиль (solid / dotted например) 3-й параметр это цвет
  border-radius: 5px;
  margin: 10px; Внешний отступ */

/* padding-top: 16px;
  padding-right: 42px;
  padding-bottom: 16px;
  padding-left: 42px; */
/* МОжно записать все 4 пункта выше в 1 рядочек и это будет правильно */

/*Можно написать 2 значения если низ и верх / лево и право у нас одинаковые отступы*/
/* padding: 16px 42px; */

/*В случае когда мі используем margin-left и margin-right одновременно на авто, элемент становится по центру странички*/
/* margin-left: auto; */
/* margin-right: auto; */

/* так же как и код выше ставит элемент по центру */
/* margin: 0 auto; */

/*влияет на размер элемента, тоесть если мы задаем ширину и высоту, то внутри этой ширины и высоты уже будут учитываться border, panding. Тоесть элемент не будет больше
Задаем это значение через звездочку чтобы применить ко всем элементам. */
