.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}
.chefs-title::before {
  left: -0;
}
.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  /* Добавили врап если будут добавляться элементы, чтобы они переносились аккуратно на новую строку */
  flex-wrap: wrap;
  /* Добавили 40px сверху-вниз на случай если будут добавляться новые элементы */
  gap: 40px 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
